@charset "utf-8";
body {background-color: #000000; margin: 0px;}
	li {display: inline-block; margin-right: 50px; font-family: 'Lato', sans-serif; color: #ffffff; font-weight: 700; vertical-align: middle;}
	@media only screen and (max-width: 1190px) {
		li {
			display: list-item; margin-bottom: 30px; list-style-type: none;
  }
}
	li a {text-decoration: none; color: #ffffff;}
	li a:hover {text-decoration: underline; color: #fff000;}
	nav {text-align: center; margin-right: auto; margin-left: auto;} 
	.btn-compre {background-color: #ff0000; color: #ffffff; font-family: 'Lato', sans-serif; font-weight: 900; padding: 10px; border: 0;}
	.btn-compre:hover {background-color: #ffffff; color: #ff0000;}
	#content {background-image: url("imagens/bg-teste.jpg"); background-size: contain; height: 778px; background-repeat: repeat-x;}

